@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* styles/globals.css */

html {
  scroll-behavior: smooth;
}

/* styles/globals.css */

body {
  background-size: 50px 50px;
  background-image: radial-gradient(circle, #ffffff4a 1px, rgb(0, 0, 0) 1px);
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  color: white;
}

a {
  color: #61dafb;
}
