/* Skills.module.css */

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skillCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  padding: 1.5rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

/* .skillCategory:hover {
  transform: scale(1.02);
} */

.categoryHeader {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.h3 {
  margin: 0;
  font-size: 1.5rem;
}

.skillIcons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap; /* Ensure skills wrap to the next line if they don't fit */
}

.skillIcons img {
  width: 100px;
  max-height: 100px;
  transition: transform 0.2s ease-in-out;
  /* border: cyan 2px solid; */
}

.skillIcons img:hover {
  transform: scale(1.1);
}
